.left-nav{
    -fx-background-color: linear-gradient(to bottom right, #8AE308, #4CAF50);
}
.top-nav{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}
.nav-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: Arial;
    -fx-color: #fff;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-weight: Bold;
    -fx-font-size: 1.1em;
}
.nav-button:hover{
    -fx-background-color: linear-gradient(to bottom, #76B900, #388E3C);
    /*-fx-cursor: hand;*/
}
.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.4),5,0,0,0);
}
.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
}
.close-button,.minimize-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close-button:hover{
    -fx-background-color: #dd2f4f;
}
.minimize-button:hover{
    -fx-background-color: #FFDD00;
}
.card1{
    -fx-background-color: linear-gradient(to bottom, #2e4d6e, #276a99);
}
.card2{
    -fx-background-color: linear-gradient(to bottom, #542c63, #8825a1);
}
.card3{
    -fx-background-color: linear-gradient(to bottom, #752131, #ae243f);
}
