.employee-form{
    /*-fx-background-color: linear-gradient(to bottom right, #8AE308, #4CAF50);*/
}
.employee-header{
    -fx-background-color: linear-gradient(to bottom right, #8AE308, #4CAF50);
}

.search_field{
    -fx-border-radius: 20px;
    -fx-border-color: linear-gradient(to bottom right, #8AE308, #4CAF50);
    -fx-border-width: 2px;
}
.label{
    /*-fx-text-fill: white;*/
}
.button{
    -fx-cursor: hand;
    /*-fx-background-color: transparent;*/
    -fx-border-width: .8px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.close-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close-button:hover{
    -fx-background-color: #dd2f4f;
}
.minimize-button:hover{
    -fx-background-color: #FFDD00;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to top right, #64522c, #a8962b);
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 0px;
    -fx-font-family: Arial;
    -fx-font-size: 15px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to top right, #8AE308, #4CAF50);
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 5px 5px 0px 0px;
}
.table-view .column-header,.filter{
    -fx-background-color: linear-gradient(to top right, #8AE308, #4CAF50);
    -fx-text-fill: white;
}

.logoutBtn {
    -fx-background-color: #ff0000;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.logoutBtn:hover {
    -fx-background-color: #ff004d;
}

.saveOrderButton {
    -fx-background-color: #00f307;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.saveOrderButton:hover {
    -fx-background-color: #22ff00;
}
.changePassBtn {
    -fx-background-color:orange;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.changePassBtn:hover {
    -fx-background-color: yellow;
}

.cancel{
    -fx-background-color: #fff;
    -fx-text-fill: black;
}
.cancel:hover{
    -fx-cursor: hand;
    -fx-background-color: gray;
}

.customerFormBtn {
    -fx-background-color: #00eaff;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.customerFormBtn:hover {
    -fx-background-color: #00ffd9;
}

.discountBtn {
    -fx-background-color: #228B22;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.discountBtn:hover {
    -fx-background-color: #37ff15;
}

.customerForm{
    -fx-background-color: #4ce3e8;
}
.updateBtn{
    -fx-background-color: rgba(26, 133, 255, 0.75);
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.updateBtn:hover{
    -fx-background-color: rgb(67, 36, 255);

}

.saveCustomerFormBtn {
    -fx-background-color: #0057aa;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.saveCustomerFormBtn:hover{
    -fx-background-color: rgba(62, 153, 255, 0.73);
}
.clearBtn{
    -fx-background-color: #b340ff;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}
.clearBtn:hover{
    -fx-background-color: #b67bff;
}

.saveCustomerFormBtn:hover {
    -fx-background-color: #8bf1ff;
}

.colDelete .button{
    -fx-background-color: #ff0000;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.colDelete .button:hover {
    -fx-background-color: #ff004d;
}

ListView{
    -fx-background-color:#8AE308;
    -fx-font-size: 17px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}
.customerListView{
    -fx-background-color:#8AE308;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}
.totalAmountLabel .changeAmountLabel{
    -fx-padding: 0 0 0 10;
}

.searchCutsomerField{
    -fx-border-radius: 20px;
    -fx-border-color: linear-gradient(to bottom right, #0fbbff, #1c6dff);
    -fx-border-width: 2px;
}

.bill_field{
    -fx-background-color: #8AE308;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.tab-pane .tab {
    -fx-background-color: #bcfd7e;
    -fx-pref-width: 105px;
    -fx-pref-height: 35px;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.tab-pane .tab:selected {
    -fx-background-color: linear-gradient(to bottom right, #8AE308, #4CAF50);
}

.tab-plus {
    -fx-pref-width: 30px !important;
    -fx-pref-height: 35px !important;
    -fx-background-color: #fafbd8 !important;
    -fx-background-color: transparent;
    -fx-text-fill: green;
    -fx-font-size: 18px;
}

.tab-plus:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #8AE308, #4CAF50);
}

